@import "tailwindcss";

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/Font/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  src: url("./assets/Font/MPLUSRounded1c-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  src: url("./assets/Font/Nunito-Regular.ttf");
}

@theme {
  --font-hfont: "Space Grotesk", sans-serif;
  --font-pbase: "M PLUS Rounded 1c", sans-serif;
  --font-Nunito: "Nunito";
}
@layer utilities {
  .borderr {
    border: 3px solid red;
  }
}
